{% extends 'base.html' %}
{% block title %}{{ article.title }}{% endblock %}
{% block content %}
    <div class="container-fluid mt-5">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">{{ article.title }}</h1>
                <p class="lead">
                    Категория: {{ article.category }}<br>
                    Дата публикации: {{ article.publication_date }}
                </p>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <p>
            {{ article.content }}
        </p>
    </div>
{% endblock %}